{% extends 'mision/base.html' %}

{% block content %}

    <section class="py-5">
        <div class="container px-5 mb-5">
            <div class="text-center mb-5">
                {% block content_titulo %}

                {% endblock content_titulo %}
            </div>
            <div class="row gx-5 justify-content-center">
                <div class="col-lg-11 col-xl-9 col-xxl-8">
                {% block content_mision %}
                
                {% endblock content_mision %}
                </div>
            </div>
        </div>
    </section>

{% endblock content %}