{% extends 'perfil/list.html' %}

{% block content_titulo %}

    <h1 class="display-5 fw-bolder mb-0"><span class="text-gradient d-inline">Eduardo Palacios</span></h1>
    
{% endblock content_titulo %}

{% block content_perfil %}   

    <div class="card overflow-hidden shadow rounded-4 border-0 mb-5">
        <div class="card-body p-0">
            <div class="d-flex align-items-center">
                <div class="p-5">
                    <a>Realidad: Tierra-616.</a><br>
                    <a>Lugar de Nacimiento: Caracas, Venezuela.</a><br>
                    <a>Edad: 30.</a><br>
                    <a>Profesión: Ingeniero mecánico.</a><br>
                    <br>
                    <br>
                    <a>Ingeniero de proyectos, experiencia en dibujo y diseño mecánico, licitaciones y dirección de proyectos. Entusiasta de la programación y del desarrollo web.</a>
                </div>
                <img class="img-fluid2" src="https://avatars.githubusercontent.com/u/111165643?v=4" alt="..." />
            </div>
        </div>
    </div>

{% endblock content_perfil %}