{% extends 'perfil/list.html' %}

{% block title %}
    <h1 class="display-5 fw-bolder mb-0"><span class="text-gradient d-inline">Eliminar Perfil</span></h1>
{% endblock title %}

{% block content_perfil %}
    <div class="d-flex align-items-center">
        <div class="p-5">
            <h2 class="fw-bolder">¿Deseas eliminar el perfil de {{ perfil.nombre }}?</h2>
            <br>
            <form method="post">
                {% csrf_token %}
                <div class="d-grid gap-3">
                    <button class="btn btn-outline-danger btn-sm fw-bolder" type="submit">Confirmar</button>
                </div>
            </form>
        </div>
    </div>

    <br>
    <br>
    <a class="btn btn-outline-dark btn-sm" href="{% url 'perfil:perfilcategoria_list' %}">Volver</a>
    
{% endblock content_perfil %}